:root {
    --font-size-base: clamp(0.8rem, 2vw, 1rem);
    --line-height-base: 1.6;
    --text-color: #333333;
    --background-color: #FCFCFC;
    --border-color: #AAAAAA;
    --max-width: clamp(300px, 90vw, 216mm); /* Ancho máximo tipo hoja tamaño carta */
    --spacing: clamp(1rem, 2vw, 1.818rem);
}

body {
    font: var(--font-size-base)/var(--line-height-base) "Lato", sans-serif;
    color: var(--text-color);
    background: var(--background-color);
    max-width: var(--max-width);
    padding: var(--spacing);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}