.footer {
    font-size: calc(var(--font-size-base) - 20%);
    text-align: center;
    padding-top: var(--spacing);
    border-top: 0.0625rem solid var(--border-color);
    margin-top: var(--spacing);
}