:root {
  --main-spacing-small: 0.909rem; /* 10px */
  --main-spacing-medium: 1.818rem; /* 20px */
  --main-text-color: #333;
  --main-border-color: #000;
}

/* Estilos generales para secciones */
.section {
  margin-bottom: var(--main-spacing-medium);
}

.section h2 {
  font-size: 1.091rem;
  border-bottom: 1px solid var(--main-border-color);
  margin-bottom: var(--main-spacing-small);
  color: var(--main-text-color);
  text-transform: uppercase;
}

/* Estilos compartidos para .job, .education y .skills */
.job,
.education,
.skills {
  margin-bottom: 1.818rem; /* 20px */
}

.job h3,
.education h3,
.skills h3 {
  font-weight: bold;
  line-height: 1.0;
  color: #333;
  margin: 0;
}

.job p:last-of-type,
.education p:last-of-type,
.skills p:last-of-type {
  line-height: 1.0;
  margin: 0;
}

.job .location,
.education .location,
.skills .location,
.job .dates,
.education .dates,
.skills .dates {
  float: right;
}

.job .dates,
.education .dates,
.skills .dates {
  font-style: italic;
}

.job ul,
.education ul,
.skills ul {
  padding: 0;
}

.job ul li,
.education ul li,
.skills ul li {
  line-height: 1.0;
  padding: 0 2.898rem 0.205rem 2.195rem; /* Padding combinado (top, right, bottom, left) */
}