.section {
  margin-bottom: 1.818rem; /* 20px */
}

.section h2 {
  font-size: 1.091rem; /* 12px */
  border-bottom: 1px solid #000;
  margin-bottom: 0.909rem; /* 10px */
  color: #333;
  text-transform: uppercase;
}

.job, .education, .skills {
  margin-bottom: 1.818rem; /* 20px */
}

.job h3, .education h3, .skills h3 {
  font-weight: bold;
  line-height: 1.0;
  color: #333;
  margin: 0;
}

.job p:last-of-type, .education p:last-of-type, .skills p:last-of-type {
  line-height: 1.0;
  margin: 0;
}

.job .location, .education .location, .skills .location,
.job .dates, .education .dates, .skills .dates {
  float: right;
}

.job .dates, .education .dates, .skills .dates {
  font-style: italic;
}

.job ul, .education ul, .skills ul {
  padding: 0;
}

.job ul li, .education ul li, .skills ul li {
  line-height: 1.0;
  padding-top: 0rem; /* 0pt */
  padding-bottom: 0.205rem; /* 3pt; */
  margin-left: 2.195rem; /* 32.2pt; */
  margin-right: 2.898rem; /* 42.5pt; */
}